<!-- <section class="main-hero">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/tyHfvjUXxiA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</section> -->

<section class="split-pane" data-viewmode="lander">
  <div class="lander-img-wrapper">
    <!-- <div id="play-box-wrapper" style="display: none;">
      <div id="play-box">
        <span>Listen to "Seeing Red" from <strong>Anger Management</strong></span>
        <a id="play-button" data-viewmode="lander">
          <i class="fas fa-play-circle"></i>
        </a>
        <span>
          Available on:
          <a target="_blank" href="https://open.spotify.com/album/2V9kLZCwXlqGdOB3YnPpBA?si=1lygAH8DQPq8iysbU0QTmg" class="play-link spotify">
            <i class="fab fa-spotify fa-fw"></i>
          </a>
          <a target="_blank" href="https://play.google.com/store/music/album?id=B4rvx6ltjvk3jtaqf7krzgynhwq&tid=song-Tcbb2b6hkzbmv67ghhqrboizpbi&hl=en" class="play-link google-play">
            <i class="fab fa-google-play fa-fw"></i>
          </a>
        </span>
        
      </div>
    </div>
    <div id="lander-img-wrapper" data-viewmode="lander">
      <img src="/images/releases/am1.jpg" id="lander-img" alt="Anger Management EP by Get Real band">
    </div> -->


    <section class="releases-section">
      <h1>Latest Releases</h1>
      <ul class="releases small">
        <% releases.forEach((release) => { %>
          <a href="#releases">
            <li>
              <div class="release-wrapper">
                <div class="artwork-block">

                  <img src="/images/releases/<%= release.artwork %>" alt="<%= release.title %> by Get Real band" />
                </div>
                <div class="info">
                  <h3><b><%= release.title %></b></h3>
                  <h4>
                    <% if (release.upcoming) { %>
                      <i class="upcoming">
                        Upcoming:&nbsp;
                    <% } %>
                    <%= release.released %>
                    <% if (release.upcoming) { %>
                      </i>
                    <% } %>
                  </h4>
                </div>
              </div>
            </li>
          </a>
        <% }) %>
      </ul>
      <h4>
        <a href="#releases" class="view-all">
          <span>View all releases &gt;&gt;</span>
        </a>
      </h4>
    </section>


    <section class="blogposts-section">
      <h1>Latest Posts</h1>

      <ul class="releases small">
        <% blogposts.forEach((blogpost, index) => { %>
          <a href="/blog/<%= blogpost.slug %>">
            <li>
              <div class="release-wrapper">
                <% if (blogpost.images && blogpost.images.length) { %>
                  <div class="artwork-block">
                    <img src="<%= blogpost.images[0] %>" alt="<%= blogpost.title %>" />
                  </div>
                <% } %>
                <div class="info">
                  <h3>Blog #<%= index + 1 %> — <%= blogpost.title %></h3>
                  <h4><%= util.formatDate(new Date(blogpost.published)) %></h4>
                  <hr/>
                  <div><%- util.truncate(blogpost.description, 200) %></div>
                </div>
              </div>
            </li>
          </a>
        <% }) %>
      </ul>
      <h4>
        <a href="#blog" class="view-all">
          <span>View all posts &gt;&gt;</span>
        </a>
      </h4>
    </section>
  </div>

  <section class="right-sections">
    <section class="video-section">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/tyHfvjUXxiA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <section class="about-section">
      <div class="about-block">
        <div class="">
          <span>About the Band</span>
        </div>
      </div>
      <div class="about-block">
        <div class="">
          <span>
            Get Real! is an alternative rock band formed in Sydney, Nova Scotia.
            <br/>
            Currently consists of members Andrew MacDonald (Vocals/Guitar), Drew Hawboldt (Drums), and Jeremy Devoe (Bass).
          </span>
        </div>
      </div>
      <div class="about-block">
        <div class="">
          <span>
            Our full-length album <strong>Seasick Hotel</strong> releases <strong>September 8th, 2020</strong>.<br/>
            Physical cd copies will be available.
          </span>
        </div>
      </div>
    </section>
    
  </section>
</section>